/* Import Roboto font */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,500,500italic,700,700italic);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    overflow-x: hiden;
}

/*html {*/
/*min-height: 100%;*/
/*overflow-x: hidden;*/
/*overflow-y: scroll;*/
/*position: relative;*/
/*width: 100%;*/
/*}*/

md-content.md-default-theme {
    background-color: #ECECEC;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
    color: white;
}

.md-default-theme {
    padding: 0;
}

.menu-icon, .list-icon {
    padding: 8px;
    color: white;
}

.input-container {
    width: 100%;
}

.search-input {
    background-color: #7986CB;
    width: 100%;
    padding: 4px 4px 4px 40px;
    border: 0;
    color: white;
    font-weight: 100;
    margin-top: 20px;
    outline: none;
}

.search-input:focus {
    background-color: white;
    color: #666;
    outline: none;
}

.search-input::-webkit-input-placeholder {
    color: white;
    opacity: 1;
    font-weight: 100;
}

.search-input:-moz-placeholder {
    color: white;
    opacity: 1;
    font-weight: 100;
}

.search-input::-moz-placeholder {
    color: white;
    opacity: 1;
    font-weight: 100;
}

.search-input:-ms-input-placeholder {
    color: white;
    opacity: 1;
    font-weight: 100;
}

.search-icon {
    color: white !important;
    float: left;

    position: relative;
    top: -28px;
    left: 8px;
}

.focus {
    color: #666 !important;
}

.nav-icon {
    font-size: 32px;
    padding: 16px 16px;
}

.more-button {
    float: right;
    margin-right: 46%;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #fea737;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}
