#navbar {
    background-color: #00C853;
    position: fixed;
    top: 0;
    z-index: 9999;
}

#profile {

}

#profilePic {
    width: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 999;
}

#profileBG {
    position: absolute;
    width: 100%;
    z-index: -999;
}

body {
     background-color: #e5e5e5;
}