.card-stream {
    padding-top: 4rem;
    margin: 0 3rem;
}

.discount-card {
    max-width: 60rem;
    min-width: 20rem;
    margin: 2.5rem auto;
    padding: 1rem 1rem 0 1rem;
}

.top-container {
    width: 100%;
    height: 6.5rem;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #ccc;
    margin-bottom: 0.5rem;
}

.shop-logo-container {
    width: 50%;
    float: left;
    height: 6rem;
}

.shop-logo {
    display: inline;
    width: 100%;
    object-fit: contain;
    height: 6rem;
    padding: 0.25rem;
}

.discount-container {
    display: inline;
    height: 6rem;
    float: right;
    width: 50%;
    padding: 0.75rem 3rem 0.75rem 1rem;
}

.price {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    font-weight: lighter;
}

.discount {
    display: block;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
}

.only-attr {
    line-height: 4.75rem;
    font-size: 2.25rem;
    font-weight: 200;
}

.bottom-container {
    float: right;
    padding: 0 1rem;
}

.badge {
    float: right;
    z-index: 9000;
    background-color: rgba(255,255,255,0.5);
    margin-top: 0.25rem;
}

.badge-icon {
    height: 3rem;
}

.title {
    margin: 1rem 0 0 0;
    color: #333;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: lighter;
}

.sub-title {
    color: #999;
    margin: 0.75rem 0 1rem 0;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 300;
}

.description {
    color: #333;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.actions {
}

.action-item {
    float: right;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
    background-color: white;
    color: black;
    margin-bottom: 0.5rem;
    position: initial;
}
.action-item:hover {
    cursor: pointer;
    /*background-color: rgb(163, 196, 5);*/
    /*color: white;*/
}

.club {
    /*background-color: #90A4AE;*/
    /*color: white;*/
    background-color: white;
    color: #333;
}

.fitness {
    background-color: white;
    color: #333;
}

.groceries {
    /*background-color: #FFF59D;*/
    background-color: white;
    color: #333;
}

.education {
    /*background-color: #B3E5FC;*/
    background-color: white;
    color: #333;
}

.social-discount {
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 1rem;
    width: 100%;
    position: initial;
}
.social-discount:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.social-icon {
    height: 1.5rem;
    margin-right: 1rem;
    float: left;
    margin-top: -0.25rem;
}

.social-text {
    font-size: 1rem;
    line-height: 1.2rem;
}

.twitter {
    color: rgb(85,172,238);
    background-color: rgba(85,172,238,0.15);
}

.xing {
 color: #026466;
    background-color: rgba(207, 220, 0, 0.15);
}

.facebook {
    color: #3b5998;
    background-color: rgba(66, 106, 210, 0.15);
}

.lifelog {
    display: block;
    padding: 1rem;
    background-color: rgba(244, 255, 129, 0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.lifelog:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.challenge-bar {
    display: block;
    width: 100%;
    height: 4px;
    color: black;
    float: left;
    margin: -1rem -1rem 0 -1rem;
}

.challenge-fill {
    background-color: rgb(163, 196, 5);
    height: 100%;
    width: 34%;
}

.challenge-icon {
    height: 1.5rem;
    margin-right: 1rem;
    float: left;
    margin-top: -0.25rem;
}

.challenge-text {
    color: rgb(163, 196, 5);
    font-size: 1.2rem;
    line-height: 1.2rem;
}


@media (max-width: 640px) {
    .card-stream {
        margin: 0 1rem;
    }
}

.share-sheet {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    visibility: none;
}

.share-overlay {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    z-index: 10000;
    position: relative;
}

.share-actions {
    background-color: white;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10001;
}

.share-action {
    display: block;
    width: 100%;
    padding: 1rem;
}

.share-img {
    height: 1.5rem;
}
.share-text {
    position: absolute;
    left: 4.25rem;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-top: -5px;
}