body {
    margin: 0;
    background:  url("../img/gradient-bg1.jpg");
    overflow: hidden;
}

.demo-container {
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.device-frame {
    height: 100%;
}

.demo-frame {
    position: absolute;
    top: 139px;
    left: 493px;
    border: none;
    overflow: hidden;
    width: 343px;
    height: 611px;
}